extends layout 

block content 

    .page-wrapper
        h1 Edit a Message

        if message 
            if errors
                section.message-form-errors
                    if (errors.length === 1)
                        p Please correct this error:
                    else
                        p Please correct the following errors:
                    ul(class='errors')
                        each error in errors
                            li.error #{error.msg}
            form.edit-message(action='/edit' method='POST') 
                h2.message-form-title.edit-message-form-title Editing "#{message.title}"
                a(class='delete-message-button button' href=(`/delete/` + message.id)) Delete
                input(name='id' id='id' type='hidden' value=(message.id))
                .form-section
                    label(for='title') Title:
                    input(
                        class='title-input'
                        name='title' 
                        type='text' 
                        required
                        value=(message.title)
                    )
                .form-section 
                    label(for='body') Message: 
                    textarea(class='body-input' name='body')=message.body
                input(class='edit-message-submit' type='submit')

        