extends layout 

block content 

    h1 Edit a Message

    if message 
        h2 Editing #{message.title}
        p Click here to 
            a(href=(`/delete/` + message.id)) delete this message
            | .
        form.edit-message(action='/edit' method='POST') 
            input(name='id' id='id' type='hidden' value=(message.id))
            .form-section
                label(for='title') Title:
                input(
                    name='title' 
                    type='text' 
                    required
                    value=(message.title)
                )
            .form-section 
                label(for='body') Message: 
                textarea(name='body')=message.body
            input(type='submit')