extends layout

block content
    h1= title
    if currentUser
        p Welcome back, #{currentUser.firstName + ' ' + currentUser.lastName}.
        if !currentUser.member
            p You are not yet a full initiate of the Society.
            p If you believe you are ready, you may attempt to  
                a(href='/become-a-member/') become a full member
                | .
        else if currentUser.member 
            p Post a 
                a(href='/new-message/') new message
                | .
        p
            a(href='/log-out/') Log Out

    else
        p Welcome to the Secret Society 
        p If you're a returning user, you can 
            a(href='/log-in/') log in here
            | .
        p New visitors can 
            a(href='/sign-up/') sign up here
            | .

    section.messages
        each message in messages
            .message
                h2 #{message.title}
                if currentUser && currentUser.member
                    p #{message.author.firstName} #{message.author.lastName} - #{message.date}
                p #{message.body}
