extends layout

block content
    if currentUser
        section.intro
            p Welcome back, 
                span.username #{currentUser.firstName + ' ' + currentUser.lastName}.
            if !currentUser.member
                p You are not yet an initiate of the Society.
                p To view the complete author and date information for the messages below, you must become a full member.
                | Click the link above the begin the process.

    else
        section.intro
            p.welcome Welcome to the Secret Society.
            p If you're a returning user, please 
                a(href='/log-in/') log in
                |  to begin posting messages.
            p First-time visitors can  
                a(href='/sign-up/') sign up here
                | .

    section.messages
        if currentUser && currentUser.member
            .messages-top-matter
                h1.messages-heading Messages
                a(href='/new-message/')
                    button.new-message-button Post New Message
        else
            h1.messages-heading Messages
        .messages-container
            each message in messages
                .message
                    h2.message-title #{message.title}
                    if currentUser && currentUser.member
                        .author-date
                            .message-author #{message.author.firstName} #{message.author.lastName}
                            .message-date #{message.date}
                    p.message-body #{message.body}
                    if currentUser && currentUser.admin 
                        a(class='edit-button' href=(`edit/` + message.id)) Edit