extends layout 

block content 
    .page-wrapper
        h1 Log In
        if error 
            section.error
                p=error
        if currentUser 
            p You're already logged in, #{currentUser.firstName}.
            p Click 
                a(class='inline-link' href='log-out/') here
                |  to log out.
        else
            form(action='' method='POST')
                label(for='username') Email: 
                input(
                    class='text-input'
                    name='username'
                    id='username'
                    type='email'
                    required
                )
                label(for='password') Password:
                input(
                    class='text-input'
                    name='password'
                    id='password'
                    type='password'
                    required
                )
                input(class='submit-button' type='submit')