extends layout 

block content

    .message-page
        h1 Post a New Message

        if currentUser && !currentUser.member
            .uninitiated-message
                p You can make a new post using the form below, but remember that you 
                    | must be an initiated member of the Secret Society to view message author/date details.
                p If you know the secret code, you can attempt to 
                    a(class='inline-link' href='/become-a-member/') become a member
                    | .

        if errors
            section.message-form-errors
                p Unable the process the request.
                if (errors.length === 1)
                    p Please correct this error:
                else
                    p Please correct the following errors:
                ul(class='errors')
                    each error in errors
                        li.error #{error.msg}

        if currentUser
            form(action='' method='POST')
                h2.message-form-title New Message
                input(name='author' id='author' type='hidden' value=(currentUser.id))
                .form-section
                    label(for='title') Title:
                    input(
                        class='title-input'
                        name='title' 
                        type='text' 
                        required
                        value=(req.title ? req.title : '')
                    )
                .form-section 
                    label(for='body') Message: 
                    textarea(class='body-input' name='body')=req.body
                input(class='message-form-submit' type='submit')

        else if !currentUser
            p.please-log-in Please 
                a(href='/log-in/') log in
                |  before continuing.
    