extends layout 

block content 
    .page-wrapper
        if currentUser && !currentUser.member
            p You've already signed up.
            p Click 
                a(class='inline-link' href='/become-a-member/') here
                |  to become a member.
        if currentUser && currentUser.member
            h1 You're already a member!
            p
                a(class='inline-link' href='/') Go home
                |  to post messages to other Society members.
        else if !currentUser
            if errors
                section.sign-up-form-errors.message-form-errors
                    if (errors.length === 1)
                        p Please correct this error:
                    else
                        p Please correct the following errors:
                    ul(class='errors')
                        each error in errors
                            li.error #{error.msg}
            form(action='' method='POST')
                h1 Sign Up
                label(for='firstName') First Name: 
                input(
                    class='text-input'
                    name='firstName' 
                    id='firstName'
                    type='text' 
                    required
                    value=(req.firstName ? req.firstName : '')
                )
                label(for='lastName') Last Name:
                input(
                    class='text-input'
                    name='lastName'
                    id='lastName'
                    type='text'
                    required
                    value=(req.lastName ? req.lastName : '')
                )
                label(for='email') Email: 
                input(
                    class='text-input'
                    name='email'
                    id='email'
                    type='email'
                    required
                    value=(req.email ? req.email : '')
                )
                label(for='password') Password:
                input(
                    class='text-input'
                    name='password'
                    id='password'
                    type='password'
                    required
                )
                label(for='confirmPassword') Confirm Password: 
                input(
                    class='text-input'
                    name='confirmPassword'
                    id='confirmPassword'
                    type='password'
                    required
                )
                input(class='submit-button' type='submit')

